# besu instance data logs
containers/data/node0/data/**
containers/data/node1/data/**
containers/data/node2/data/**
containers/data/node3/data/**
containers/data/node4/data/**
containers/data/node5/data/**
containers/data/keys/**

# chainlens logs
containers/chainlens-free/docker-compose/*.log
containers/chainlens-free

# besu cache
containers/besu/.cache/*

#genesis file

containers/data/cliqueGenesis.json

# test
test
node*
addr